@model BTX.ReportViewer.ViewModels.GridsModel

@{
    if (ViewBag.HeaderOption == 1)
    {
        Layout = "~/Views/Shared/SubGridLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/MenuLayout.cshtml";
    }
    string period = Model.period;
    int userid = Model.userid;
    string accountnumber = Model.accountnumber;
    string salesname = Model.salesname;
    string accountname = Model.accountname;
    int selectedgroupid = Model.selectedgroupid;
}

<input type="hidden" value="@period" id="SalesPeriod">
<input type="hidden" value="@userid" id="SalesUserId">
<input type="hidden" value="@accountnumber" id="SalesAccountNumber">
<input type="hidden" value="@salesname" id="SalesName">
<input type="hidden" value="@accountname" id="SalesAccountName">
<input type="hidden" value="@selectedgroupid" id="SalesSelectedGroupId">


<div class="section" id="subGrid1" style="overflow-y:hidden;">
    <div class="col-md-12">

        <div ng-controller="salesPersonalLicenseeCtrl" ng-cloak>

            
            @*Filters Section*@
            @if (@period == "")
            {
                <h2 class="title" data-animate="fadeInDown" style="margin-top:10px; text-transform:none;">
                    Licensee Sales Details for @accountname
                </h2>
            }
            else
            {
                <h2 class="title" data-animate="fadeInDown" style="margin-top:10px; text-transform:none;">
                    Licensee Sales Details for @accountname - @period
                </h2>
            }

            <uib-accordion close-others="oneAtATime">
                <div uib-accordion-group class="panel-default" is-open="status.open">
                    <uib-accordion-heading>
                        Select Grid Parameters <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                    </uib-accordion-heading>
                    <form id="grid1filters" style="margin-top: 10px; padding-right: 15px; padding-left:15px;">

                        @if (@period == "")
                        {
                            <div class="form-group row">
                                <div class="col-md-8">
                                    <h4><label class="col-sm-2 col-form-label">Promo Turn</label></h4>
                                    <span uib-dropdown on-toggle="toggled(open)">
                                        <button class="btn btn-default" href id="simple-dropdown" uib-dropdown-toggle>
                                            {{selectedperiodkey.label}}
                                            <span class="caret">
                                            </span>
                                        </button>
                                        <ul class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown" style="max-height:400px; overflow:auto; margin-top:8px;">
                                            <li ng-repeat="choice in periodkeys">
                                                <a ng-click="periodkeydropboxitemselected(choice)">{{choice.label}}</a>
                                            </li>
                                        </ul>
                                    </span>
                                </div>
                            </div>
                        }

                        <div class="form-group row">
                            <div class="col-md-8">
                                <h4><label class="col-sm-2 col-form-label">Categories</label></h4>
                                <div ng-dropdown-multiselect="" buttonClasses="col-sm-10" options="categoriesdata" selected-model="categoriesmodel" checkboxes="true" extra-settings="dropdownsettings" events="Update">
                                </div>
                            </div>

                            <div class="col-md-4">
                                <button type="button" class="btn btn-primary" ng-click="Reload()">Refresh</button>
                            </div>
                        </div>

                    </form>
                </div>
            </uib-accordion>

            

            @*Grid Body*@
            <div class="custom-csv-link-location">
                <span class="ui-grid-exporter-csv-link">&nbsp;</span>
            </div>
            @*<div id="grid1" style="height: {{gridOptions.data.length*30 + 80}}px" ui-grid="gridOptions" class="grid" ui-grid-pinning ui-grid-selection ui-grid-exporter ui-grid-auto-resize>*@
            <div id="grid1" style="height: calc(100vh - 300px);" ui-grid="gridOptions" class="grid" ui-grid-pinning ui-grid-selection ui-grid-exporter ui-grid-auto-resize>
                <div class="well grid-loading" ng-hide="!loading">
                    <span class="grid-loading-text">
                        <i class="fa fa-spin fa-spinner"></i>
                        <strong>Data Loading...</strong>
                    </span>
                </div>
            </div>
            

        </div>
    </div>
</div>


